<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
    <title>Add Review</title>
</head>
<body>
    <!-- Navigation bar [original-author: Coursera. IBM. Course-09. Module-05.]    -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <!-- Brand/logo -->
                <li class="nav-item navbar-header"><a class="navbar-brand" href="#">Best Cars: Dealership Review</a></li>

                <li class="nav-item active"><a class="nav-link" href="{% url 'djangoapp:index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a></li>
            </ul>



            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!--Add review form here -->
    <div class="container-fluid" id="submission">
            
        {% if user.is_authenticated %}
        <h2>Write a review about {{dealership.full_name}}</h2>
        <form id="reviewForm" action="{% url 'djangoapp:add_review' dealership.id %}" method="post">
            {% csrf_token %}
            <!-- Mandatory field. Receive review content.  -->
            <div class="form-group"> 
                <label for="content">Review:</label>
                <textarea class="form-control" id="content" name="content" rows="2" placeholder="Enter a review:" required></textarea> 
            </div>
            <!-- Mandatory field. Confirm if user purchased car from dealership-->
            <div class="form-group">
                <input type="checkbox" class="form-check-input" id="allow-purchase-information" name="allow-purchase-information">
                <label for="allow-purchase-information" class="form-check-label">Purchased the vehicle from {{dealership.full_name}}?</label>
            </div>
            <fieldset id="purchase-information" disabled=>
                <legend>Select purchased vehicle information below:</legend>
                <!-- Ask user select a vehicle sold by this dealer. -->
                <div class="form-group">
                    <label for="car">Select vehicle (manufacturer: model--year):</label>
                    <select class="form-select" id="car" name="car" required>
                        {% for car in cars %}
                            <option selected value={{car.id}}>{{car.car_make.name}}: {{car.name}}--{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Ask user input the purchased date of vehicle -->
                <div class="form-group">
                    <label for="purchase_date">Purchase Date:</label>
                    <input type="text" class="date-own form-control" id="purchase-date" name="purchase_date"  placeholder="Enter purchase date:"   required>
                </div>
            </fieldset>
            <input class="btn btn-success btn-block" type="submit" value="Submit">
        </form>
        {% else %}


        {% endif %}
    </div>

</body>
<script type="text/javascript">
    $('.date-own').datepicker({
       format: 'mm/dd/yyyy'
     });


    // source [https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/disabled]:
    var allowPurchaseInfoCheckbox = document.getElementById("allow-purchase-information");
    var purchaseInformation = document.getElementById("purchase-information");

    allowPurchaseInfoCheckbox.addEventListener("change", function(event) {
        if (event.target.checked) {
            purchaseInformation.disabled = false;
        } else {
            purchaseInformation.disabled = true;
        }
    }, false);


</script>
</html>